<div [formGroup]="currentForm">
    <app-controls-list [currentForm]="currentForm"
                       [descriptors]="tab.ungrouped"
                       [context]="context">
    </app-controls-list>
    <app-controls-group *ngFor="let group of tab.groups | keyvalue"
                        [label]="group.key"
                        [opened]="state[group.key].opened"
                        (openedChanged)="state[group.key].opened = $event">
        <app-controls-list [currentForm]="currentForm"
                           [descriptors]="group.value"
                           [context]="context">
        </app-controls-list>
    </app-controls-group>
</div>
