<div cdkDropList class="blocks-container" (cdkDropListDropped)="onReorderBlocks($event)">
    <ng-container *ngFor="let block of section.blocks">
        <div class="block-item"
             cdkDragBoundary=".blocks-container"
             cdkDragLockAxis="y"
             cdkDrag>
            <app-section-item [sectionSchema]="$any(blocksSchemas[block.type])"
                              [section]="block"
                              (itemClick)="onItemClick(block)">
            </app-section-item>
            <app-drag-handle cdkDragHandle></app-drag-handle>
        </div>
    </ng-container>
</div>
<app-icon-button icon="add"
                 skin="blue"
                 text="Add block"
                 (click)="onAddBlockClick()"></app-icon-button>
