<app-template-editor></app-template-editor>
<router-outlet></router-outlet>
<!-- <app-template-editor [template]="template"
                     [sectionsSchemas]="sectionsSchemas"
                     [blocksSchemas]="blocksSchemas"
                     (addSectionClick)="addButtonClick()"
                     (editItem)="onItemClick()"></app-template-editor>
<app-add-section *ngIf="addMode"
                 [schemasList]="sectionsSchemas"
                 (cancelAdd)="closePanels()"></app-add-section>
<app-edit-section *ngIf="editMode"
                  [context]="context"
                  [section]="template.content[1]"
                  [schema]="sectionsSchemas[template.content[1].type]"
                  (backClick)="closePanels()"></app-edit-section> -->
