<ng-container *ngIf="!descriptor.inline; else inlinePicker">
    <div class="flex items-center justify-between"
         [colorPicker]="controlValue"
         [cpOutputFormat]="descriptor.outputFormat || 'auto'"
         [cpColorMode]="descriptor.colorMode || 'color'"
         [cpPresetColors]="descriptor.presets || []"
         [cpAlphaChannel]="descriptor.alpha || 'enabled'"
         [cpOKButton]="true"
         [cpCancelButton]="true"
         cpPosition="bottom"
         cpCancelButtonText="Clear"
         (colorPickerCancel)="clearColor()"
         (colorPickerChange)="changeColor($event)">
        <label [attr.title]="descriptor.hint">{{ descriptor.label }}</label>
        <div class="border rounded-full w-4 h-4 mr-2" [ngStyle]="{ backgroundColor: controlValue }"></div>
    </div>
</ng-container>
<ng-template #inlinePicker>
    <label [attr.title]="descriptor.hint">{{ descriptor.label }}</label>
    <div class="inline-picker"
         cpCancelButtonText="Clear"
         [colorPicker]="controlValue"
         [cpOutputFormat]="descriptor.outputFormat || 'auto'"
         [cpColorMode]="descriptor.colorMode || 'color'"
         [cpPresetColors]="descriptor.presets || []"
         [cpOKButton]="false"
         [cpCancelButton]="true"
         [cpDialogDisplay]="'inline'"
         [cpToggle]="true"
         (colorPickerCancel)="clearColor()"
         (colorPickerChange)="changeColor($event)">
    </div>
</ng-template>
