<label [attr.title]="descriptor.hint">{{ descriptor.label }}</label>
<div *ngIf="control">
    <file-upload [control]="control" [multiple]="!!descriptor.multiple">
        <ng-template let-isFileDragDropAvailable="isFileDragDropAvailable" #placeholder>
            <div *ngIf="isFileDragDropAvailable" class="add-files">
                Add file or drop files to upload
            </div>
            <span *ngIf="!isFileDragDropAvailable">Add file</span>
        </ng-template>
    </file-upload>
    <p *ngIf="descriptor.info" class="info">{{ descriptor.info }}</p>
    <!-- [ngStyle]="{ 'max-height': getMaxListHeight() }" -->
    <div class="images-list"
         cdkDropListGroup
         #listGroup>

        <div class="placeholder"
             cdkDropList
             (cdkDropListEntered)="entered($event)"
             (cdkDropListDropped)="dropped()"
             #placeholder></div>

        <div class="image-item-wrapper"
             cdkDropList
             (cdkDragReleased)="onReleaseDrag()"
             *ngFor="let file of innerValue; let i = index"
             (cdkDropListEntered)="entered($event)"
             (cdkDropListDropped)="dropped()">
            <div class="image-item"
                 cdkDrag
                 cdkDragBoundary=".file-list"
                 [ngStyle]="{ backgroundImage: 'url(' + file.previewUrl + ')' }">
                <div class="actions-holder">
                    <div class="spinner" *ngIf="$any(file).loading">
                        <mat-spinner></mat-spinner>
                    </div>
                    <div *ngIf="file.error" class="error">{{ file.error }}</div>
                    <div class="actions top-actions">
                        <app-drag-handle *ngIf="sortable"
                                         cdkDragHandle
                                         (mousedown)="onStartDrag()"
                                         (mouseup)="onReleaseDrag()"></app-drag-handle>
                    </div>
                    <div class="actions bottom-actions">
                        <app-icon class="remove-image" (click)="deleteFile($any(file))">delete</app-icon>
                        <app-icon *ngIf="!file.error" class="edit-image">edit</app-icon>
                        <app-icon *ngIf="file.error" class="reload-image" (click)="uploadItem($any(file), i)">
                            refresh
                        </app-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-icon-button *ngIf="control.value.length > (descriptor.collapseThreshold || 6)" class="show-all"
                     [text]="expanded ? 'Show less' : 'Show all'"
                     (click)="toggleList()"></app-icon-button>
</div>
