<label [attr.title]="descriptor?.hint">{{ descriptor?.label }}</label>
<div *ngIf="control">
    <file-upload [control]="control" [multiple]="!!multiple">
        <ng-template let-isFileDragDropAvailable="isFileDragDropAvailable" #placeholder>
            <div *ngIf="isFileDragDropAvailable" class="add-files">
                Add image or drop images to upload
            </div>
            <span *ngIf="!isFileDragDropAvailable">Add image</span>
        </ng-template>
    </file-upload>
    <p *ngIf="descriptor?.info" class="info grow">{{ descriptor?.info }}</p>
    <div class="images-list"
         [ngStyle]="{ 'max-height': getMaxListHeight() }"
         cdkDropList
         (cdkDropListDropped)="onReorderItems($event)">
        <div class="list-item"
             cdkDrag
             [cdkDragDisabled]="!sortable"
             cdkDragBoundary=".images-list"
             cdkDragLockAxis="y"
             (cdkDragReleased)="onReleaseDrag()"
             *ngFor="let file of innerValue; let i = index">
            <div class="file-item">
                <app-chevron *ngIf="descriptor?.element && descriptor?.element?.length"
                             [opened]="selectedFile === file" (click)="selectFile($any(file))"></app-chevron>
                <div *ngIf="file.previewUrl" class="image-item"
                     [ngStyle]="{ backgroundImage: getBackground(file) }">
                    <div class="spinner" *ngIf="$any(file).loading">
                        <mat-spinner></mat-spinner>
                    </div>
                </div>
                <div *ngIf="!file.previewUrl" class="image-item">
                    <div class="spinner" *ngIf="$any(file).loading">
                        <mat-spinner></mat-spinner>
                    </div>
                </div>
                <div class="file-name"
                     [ngClass]="{ 'has-extra-props': descriptor?.element && descriptor?.element?.length }"
                     [title]="file.name"
                     (click)="selectFile($any(file))">{{ file.name }}</div>
                <div class="actions">
                    <app-icon class="copy-url" (click)="copyUrl($any(file))">content_copy</app-icon>
                    <app-icon class="remove-image" (click)="deleteFile($any(file))">delete</app-icon>
                    <app-drag-handle *ngIf="sortable"
                                     cdkDragHandle
                                     (mousedown)="onStartDrag()"
                                     (mouseup)="onReleaseDrag()"></app-drag-handle>
                </div>
            </div>
            <ng-container>
                <div class="error" *ngIf="$any(file).error">{{ $any(file).error }}<br /><span class="reload"
                          (click)="uploadItem($any(file))">reload</span></div>
                <div *ngIf="selectedFile === file && descriptor && elementForm && !isDrag" class="selected-file-properties">
                    <app-controls-list [currentForm]="elementForm"
                                       [descriptors]="descriptor.element"
                                       [context]="getContext($any(file))"></app-controls-list>
                </div>
            </ng-container>
        </div>
    </div>
    <app-icon-button *ngIf="innerValue.length > (descriptor?.collapseThreshold || 4)" class="show-all"
                     [text]="expanded ? 'Show less' : 'Show all'"
                     (click)="toggleList()"></app-icon-button>
</div>
