/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './layout/variables.scss';
@import './layout/theme.scss';
@import './layout/toastr.scss';

body {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
}

// .bg-primary {
//     background-color: $primary-color;
//     color: white;
// }

// .panel-title {
//     @apply font-semibold text-3xl border-b-2 border-gray-200 p-6;
// }

// .panel-body {
//     @apply flex-grow flex flex-col overflow-y-auto p-6;
//     flex: 1 0 0
// }

.overlap-panel {
    @apply absolute h-full bg-white inset-y-0 left-8 -right-8 flex flex-col;
}

.drag-handler {
    cursor: move;
}

.toast-top-right {
    transform: translateY(3rem);
    .toast-message {
        color: white;
    }
}
