/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './layout/variables.scss';
@import './layout/theme.scss';
@import './layout/toastr.scss';
@import './layout/controls.scss';

body {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: $default-font-size;
    line-height: 20px;
}

.overlap-panel {
    @apply absolute h-full bg-white inset-y-0 left-8 -right-8 flex flex-col;
}

.multipage-select-panel-container {
    @apply w-full;
}

.drag-handler {
    cursor: move;
}

.toast-top-right {
    transform: translateY(3rem);
}
