@import '../../../../../layout/variables.scss';

:host {
    display: flex;
}

button {
    @apply flex flex-row items-center w-full p-2 rounded space-x-2;
    &:hover {
        background: rgba(246, 246, 246, 1);
    }

    &.blue {
        color: #1665D8;
        &:hover {
            background: rgba(22, 101, 216, 0.04);
        }
    }

    &.link {
        color: #1665D8;
        font-size: $btn-icon-size;
        @apply p-0;

        &:hover {
            background: none;
        }
    }

    &.solid-blue {
        background: #1665D8;
        color: #ffffff;
        @apply py-1;
        &:hover {
            // background: rgba(22, 101, 216, 0.04);
            background: #1665D8;
        }
    }
}
