<label [attr.title]="descriptor.hint">{{ descriptor.label }}</label>

<input *ngIf="!descriptor.multiline"
    #control
    type="text"
    [value]="controlValue"
    [placeholder]="descriptor.placeholder || ''"
    (paste)="onPaste($event)"
    (keyup)="raiseOnChange($event)"
/>

<textarea *ngIf="descriptor.multiline"
    #textarea
    rows="4"
    [value]="controlValue"
    [placeholder]="descriptor.placeholder || ''"
    (paste)="onPaste($event)"
    (keyup)="raiseOnChange($event)"
></textarea>

<p *ngIf="descriptor.info">{{ descriptor.info }}</p>
