<button class="back" (click)="backButtonClick()"><img src="assets/icons/back.svg" /></button>
<ng-container *ngIf="title; else panelTitle">
    <div class="panel-title">
        <div class="text-center block">{{ title }}</div>
    </div>
</ng-container>
<div class="panel-body">
    <ng-content></ng-content>
</div>
<ng-container *ngIf="false; else panelFooter"></ng-container>


<ng-template #panelTitle>
    <div class="panel-title">
        <ng-content select="[title-content]"></ng-content>
    </div>
</ng-template>

<ng-template #panelFooter>
    <div class="panel-footer">
        <ng-content select="[footer-content]"></ng-content>
    </div>
</ng-template>
