:host {
    @apply flex flex-col cursor-default bg-white;
}

.item-holder {
    @apply flex flex-row py-2 rounded;
    transition: background-color 0.2s;

    &:hover,
    &.hovered {
        background: rgba(246, 246, 246, 1);
    }


    &.highlighted {
        background-color: #FFF8EB;
    }
}

app-chevron {
    @apply cursor-pointer;
}
