:host {
    display: block;
    height: 1.5rem;
    width: 1.5rem;
}

.chevron {
    transition: transform .1s;
    @apply rounded-sm;

    &:hover {
        background-color: #F6F6F6;
    }
}

.rotate {
    transform: rotate(90deg);
}
