<app-multipage-select filterPlaceholder="Search"
                      panelClass="template-selector-panel"
                      [filter]="currentFilter$ | async"
                      [titleText]="listTitle$ | async"
                      [default]="defaultTemplate"
                      [current]="currentTemplate$ | async"
                      [parentItems]="rootTemplates$ | async"
                      [childrenItems]="childrenItems$ | async"

                      (filterChanged)="onFilterChanged($event)"
                      (itemSelected)="onTemplateSelected($event)"
                      (backClick)="onBackClick()"></app-multipage-select>
