:host {
    @apply absolute h-full inset-y-0 left-8 -right-8 flex flex-col;
    box-shadow: 0 0 4.187rem rgba(36, 36, 36, .1);
}
.background {
    background-color: rgba(0, 0, 0, 0.36);
    @apply absolute h-full w-full -left-8;
}
.content {
    @apply relative bg-white h-full w-full;
}

.expand {
    right: -.75rem;
    top: 1rem;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 .5rem 0 #999999;
    transition: transform .1s;
    @apply absolute;
    &:hover {
        box-shadow: 0 0 .5rem 0 #000000;
    }
    &.inverted {
        transform: rotate(180deg);
    }
}
