<label class="pb-label" [attr.title]="descriptor?.hint">{{ descriptor?.label }}</label>
<ng-container>
    <div *ngIf="!descriptor?.inline" class="flex relative">
        <input class="grow"
               type="text"
               readonly
               matInput
               [value]="controlValue"
               [min]="descriptor?.minDate"
               [max]="descriptor?.maxDate"
               [matDatepicker]="picker"
               [placeholder]="descriptor?.placeholder || ''"
               (dateChange)="raiseValueChanged($event.value)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker
                        xPosition="end"
                        yPosition="below"
                        [type]="descriptor?.mode || 'date'">
            <mat-datepicker-actions>
                <div class="m-4 flex flex-row-reverse space-x-4 space-x-reverse">
                    <button matDatepickerApply>Ok</button>
                    <button matDatepickerCancel>Cancel</button>
                </div>
            </mat-datepicker-actions>
        </mat-datepicker>
    </div>
    <div *ngIf="descriptor?.inline">
        <mat-calendar class="max-w-sm"
                      [selected]="controlValue"
                      [type]="descriptor?.mode || 'date'"
                      [minDate]="descriptor?.minDate"
                      [maxDate]="descriptor?.maxDate"
                      [twelveHour]="true"
                      (selectedChange)="raiseValueChanged($event)"></mat-calendar>
    </div>
</ng-container>
<p *ngIf="descriptor?.info" class="info">{{ descriptor?.info }}</p>
