:host {
    @apply flex flex-col;
}

mat-datepicker-toggle {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;

    ::ng-deep .mat-button-wrapper {
        @apply flex justify-center;
    }
}
