:host ::ng-deep label {
    @apply font-bold;
}

:host ::ng-deep {
    input[type=text], textarea, input[type=number] {
        font-size: 13px;
        color: #333333;
        border: 1px solid #D3DAE9;
        border-radius: 3px;
    }
}


app-control-holder {
    @apply block pb-4;
}
