<app-collapsible-list-item [title]="getSectionName()"
                           [closable]="hasChildren()"
                           [icon]="getSectionIcon()"
                           [showVisibility]="true"
                           [showDrag]="true"
                           [visible]="!section.hidden"
                           [opened]="opened"
                           (visibleChanged)="onVisibleChanged($event, null)"
                           (openChanged)="onOpenChanged($event)"
                           (itemClick)="onItemClick()">
    <app-inner-list-item *ngFor="let block of section.blocks"
                         [icon]="getBlockIcon(block)"
                         [title]="getBlockName(block)"
                         [showVisibility]="true"
                         [showDrag]="true"
                         [visible]="!block.hidden"
                         (visibleChanged)="onVisibleChanged($event, block.__index)"
                         (itemClick)="onItemClick(block.__index)">
    </app-inner-list-item>

    <app-separator></app-separator>

    <button class="flex items-center py-2" (click)="onAddClick()">
        <img class="mr-1" src="assets/icons/round-plus.svg" />
        <span>Add block</span>
    </button>
</app-collapsible-list-item>
