<app-icon-with-preview>
    <ng-container *ngIf="icon === undefined || (!icon && !preview)">
        <div class="preset-icon" [ngStyle]="{ backgroundColor: background, color: color }">
            <div>
                {{ letter }}
            </div>
        </div>
    </ng-container>
    <div *ngIf="icon !== undefined && (icon || preview)" class="preset-icon">
        <div class="icon" [ngStyle]="{ backgroundImage: 'url(' + (icon ? icon : preview) + ')' }"></div>
    </div>
    <ng-container *ngIf="preview" preview-body>
        <div class="container">
            <div class="title-holder">
                {{ name }}
            </div>
            <div class="body-holder">
                <img class="w-full" [src]="preview" />
            </div>
        </div>
    </ng-container>
</app-icon-with-preview>
