<app-overlap-panel>
    <app-panel>
        <div class="flex flex-col">
            <div class="search-holder">
                <input placeholder="Enter preset name" class="search" type="search" />
            </div>
            <div *ngFor="let preset of presets|keyvalue"
                 class="preset-item"
                 [ngClass]="{ active: preset.key === activePreset }"
                 (click)="previewPreset(preset.key)">
                <app-presets-icon [name]="$any(preset.key)" [icon]="$any(preset.value).icon" [preview]="$any(preset.value).preview"></app-presets-icon>
                <div class="item-name">{{ preset.key }}</div>
                <app-icon-button text="Apply" skin="solid-blue" (onClick)="usePreset(preset.key)"></app-icon-button>
            </div>
        </div>
        <ng-container title-content>
            <div class="title">
                <app-icon (click)="onBackClick()" title="Back">chevron_left</app-icon>
                <div>Presets</div>
            </div>
        </ng-container>
    </app-panel>
</app-overlap-panel>
