<app-overlap-panel [expandable]="false">
    <app-panel>
        <div class="flex flex-col">
            <div class="search-holder">
                <input placeholder="Search preset by name"
                       class="search"
                       type="search"
                       [value]="filter$|async"
                       (keyup)="applyPresetsFilter($event)"
                       (search)="applyPresetsFilter($event)" />
            </div>
            <ng-container *ngIf="presetsState$|async as presetsState">
                <ng-container *ngIf="presets$|async as presets">
                    <div *ngFor="let preset of presets|keyvalue"
                         class="preset-item"
                         [ngClass]="{ active: presetsState[preset.key]?.current }"
                         (click)="previewPreset(preset.key)">
                        <app-presets-icon [name]="$any(preset.key)"
                                          [icon]="$any(preset.value).icon"
                                          [preview]="$any(preset.value).preview"></app-presets-icon>
                        <div class="item-name" title="{{ preset.key }}">{{ preset.key }}</div>
                        <app-icon-button text="Apply" skin="solid-blue" (onClick)="usePreset(preset.key)">
                        </app-icon-button>
                    </div>
                    <ng-container *ngIf="(filter$|async) && !(presets|keyvalue).length">
                        <div class="p-4 text-gray-300">
                            No presets found
                        </div>
                    </ng-container>
                </ng-container>
            </ng-container>
        </div>
        <ng-container title-content>
            <div class="title">
                <app-icon (click)="onBackClick()" title="Back">chevron_left</app-icon>
                <div>Presets</div>
            </div>
        </ng-container>
    </app-panel>
</app-overlap-panel>
<!--  -->
