:host {
    display: flex;
}

button {
    @apply flex flex-row items-center w-full p-2 rounded space-x-2;
    &:hover {
        @apply bg-gray-100;
    }

    &.blue {
        color: #1665D8;
        &:hover {
            background: rgba(22, 101, 216, 0.04);
        }
    }
}
