
$default-font-size: 0.875rem;
$middle-font-size: 0.9375rem;
$small-font-size: 0.6875rem;
$icon-size: 1rem;
$btn-icon-size: 0.8125rem;

// todo: also here should be colors
$controls-text-color: #363636;
$icons-color: #484848;
$heading-color: #121212;
$text-color: #121212; // ?
$placeholder-color: #121212; // ?
$input-text-color: #121212; // ?

$border-color: #e0e0e0; // ?
$border-active-color: #e0e0e0; // ?

