@import '../../../../../layout/variables.scss';

:host {
    color: $icons-color;
    @apply flex items-center;
    &.hoverable:hover {
        background: rgba(246, 246, 246, 1);
    }
    &.inline {
        font-size: inherit;
        mat-icon {
            font-size: inherit;
            width: inherit;
            height: inherit;
        }
        @apply inline-block cursor-pointer px-1;
        &:hover {
            background-color: none;
        }
    }
}

// todo: theme?
::ng-deep .mat-menu-item .mat-icon-no-color,
::ng-deep .mat-menu-submenu-icon,
::ng-deep .mat-menu-item .mat-icon-no-color,
::ng-deep .mat-menu-submenu-icon {
    color: revert;
}

::ng-deep app-icon mat-icon.app-icon.mat-icon {
    margin: 0 !important;
    padding: 0 !important;
    color: inherit;
}
