<button mat-button [matMenuTriggerFor]="menu"
        class="menu-button"
        (menuOpened)="isOpened = true"
        (menuClosed)="isOpened = false">
    <ng-container *ngIf="activeItem">
        <mat-icon *ngIf="activeItem.icon">{{ activeItem.icon }}</mat-icon>
        <div *ngIf="activeItem.title" class="text active-item-text">{{ activeItem.title }}</div>
    </ng-container>
    <div class="text default-title-text" *ngIf="!active && !!defaultTitle">{{ defaultTitle }}</div>
    <app-chevron *ngIf="displayChevron" [opened]="isOpened" [vertical]="true"></app-chevron>
</button>
<mat-menu #menu="matMenu">
    <button mat-menu-item *ngFor="let action of actions" (click)="actionChoosed(action)">
        <mat-icon *ngIf="action.icon">{{ action.icon }}</mat-icon>
        {{ action.title }}
    </button>
</mat-menu>
