<div class="flex flex-col h-screen">
    <app-toolbar></app-toolbar>
    <div class="flex flex-grow">
        <app-sidebar>
            <app-template-editor [inactive]="panelOpened || editOpened" (addSectionClick)="openPanel()" (editItem)="openEdit()"></app-template-editor>
            <app-add-section (backClick)="closePanels()" *ngIf="panelOpened"></app-add-section>
            <app-edit-section (backClick)="closePanels()" *ngIf="editOpened"></app-edit-section>
        </app-sidebar>
        <app-preview></app-preview>
    </div>
</div>
