<div class="flex flex-col h-screen">
    <app-toolbar>
        <ng-container *ngIf="availableTemplates$|async as templates">
            <app-template-selector [templates]="templates"
                                   [currentTemplateName]="currentTemplateName$|async"
                                   (templateSelected)="templateSelected($event)">
            </app-template-selector>
        </ng-container>
    </app-toolbar>
    <div class="flex flex-grow">
        <app-sidebar>
            <app-template-editor [inactive]="panelOpened || editOpened"
                                 [template]="currentTemplate$|async"
                                 (addSectionClick)="openPanel()"
                                 (editItem)="editItem($event)"></app-template-editor>
            <app-add-section (backClick)="closePanels()" *ngIf="panelOpened"></app-add-section>
            <app-edit-section (backClick)="closePanels()" *ngIf="editOpened"></app-edit-section>
        </app-sidebar>
        <app-preview></app-preview>
    </div>
</div>
