<div class="wrapper" [ngStyle]="{ opacity: isOpen || isHover ? '1' : '0' }">
    <app-icon cdkOverlayOrigin
              (click)="gearClick($event)"
              #trigger="cdkOverlayOrigin">settings</app-icon>
    <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger"
                 [cdkConnectedOverlayOpen]="isOpen"
                 (detach)="hideActions()"
                 (overlayOutsideClick)="outsideClick($event)">
        <ul class="panel">
            <li *ngFor="let action of actions" [ngClass]="{ separator: action === '|' }">
                <div *ngIf="action !== '|'" class="action-item" (click)="raiseOnAction(action)">
                    <app-icon>{{ action.icon }}</app-icon>
                    <span>{{ action.title }}</span>
                </div>
            </li>
        </ul>
    </ng-template>
</div>
