<app-overlap-panel [title]="title" (backClick)="backButtonClick()">
    <app-input-search (searchChange)="filterItems($event)"></app-input-search>
    <app-collapsible-item *ngFor="let group of groups" [icon]="group.icon" [title]="group.name" [closable]="true" [defaultCollapsed]="false" [collapseByArea]="true">
        <app-inner-list-item *ngFor="let item of group.items" [icon]="item.icon" [title]="item.name" [showPlus]="true"></app-inner-list-item>
    </app-collapsible-item>

    <app-separator *ngIf="!!groups.length && !!items.length" class="mb-3"></app-separator>

    <app-collapsible-item *ngFor="let item of items" [icon]="item.icon" [title]="item.name" [closable]="false" [showPlus]="true">
    </app-collapsible-item>
</app-overlap-panel>
