<app-panel>
    <div class="p-4">
        <ng-container *ngIf="viewModel$|async as vm">
            <div cdkDropList class="sections-container" (cdkDropListDropped)="reorderSections($event)">
                <ng-container *ngFor="let section of vm.template!.content">
                    <app-collapsible-list-item [expandable]="vm.sectionsState![section.id]?.canHaveChildren || false"
                                               [opened]="vm.sectionsState![section.id]?.expanded || false"
                                               cdkDragBoundary=".sections-container"
                                               cdkDragLockAxis="y"
                                               cdkDrag="section"
                                               (cdkDragStarted)="sectionDragStarted(section)"
                                               (cdkDragReleased)="sectionDragCompleted(section)"
                                               (openChanged)="toggleSection(section.id, vm.templateState!.id)">
                        <div item>
                            <div class="item-holder">
                                <app-section-item [sectionSchema]="vm.sectionsSchemas![section.type]"
                                                  [section]="section"
                                                  (itemClick)="onSectionClick(section)"
                                                  (actionClick)="onActionClick($event, section)">
                                </app-section-item>
                                <app-drag-handle cdkDragHandle></app-drag-handle>
                            </div>
                        </div>
                        <app-section-children-list [section]="section"
                                                   [blocksSchemas]="vm.blocksSchemas!"
                                                   (itemClick)="onBlockClick(section, $event)"
                                                   (addBlockClick)="addBlockClick(section)"
                                                   (reorderBlocks)="reorderBlocks($event)"
                                                   (executeAction)="onActionClick($event.action, section, $event.block)">
                        </app-section-children-list>
                    </app-collapsible-list-item>
                </ng-container>
            </div>
        </ng-container>
    </div>
    <div title-content class="w-full">
        <div class="w-full flex flex-row">
            <div [attr.title]="templateName$|async" class="template-name">{{ templateName$ | async }}</div>
            <app-context-menu [visible]="true" [actions]="$any([{ title: 'Reset template', icon: 'restart_alt' }])"></app-context-menu>
        </div>
    </div>
    <div footer-content>
        <app-icon-button icon="add" skin="blue" text="Add section" (click)="addSectionClick()"></app-icon-button>
    </div>
</app-panel>
