div[item] {
    @apply grow min-w-0;

    .item-holder {
        @apply flex flex-row items-center w-full;
        app-section-item {
            @apply grow min-w-0;
        }
    }
}

.sections-container {
    @apply flex flex-col space-y-1 w-full relative;
}
.template-name {
    @apply grow min-w-0 whitespace-nowrap truncate cursor-default;
}

.settings-container {
    @apply flex flex-col space-y-1 w-full;
    &.top {
        border-bottom: 1px solid #12121229;
    }
    &.bottom {
        border-top: 1px solid #12121229;
    }
}

.static-item {
    @apply py-2 rounded px-6 block;
    &:hover {
        background: rgba(246, 246, 246, 1);
    }
}

.add-button {
    @apply absolute;
    color: rgba(22, 101, 216, 1);
    left: 0;
    right: 0;
    margin-inline: auto;
    width: fit-content;
    cursor: pointer;
    transition: opacity .2s;
    &:hover {
        opacity: 1 !important;
    }
}
