<label [attr.title]="descriptor?.hint" class="pb-label collection-title">{{ descriptor?.label }}</label>
<p *ngIf="descriptor?.info" class="info">{{ descriptor?.info }}</p>
<div class="collection-wrapper" [formGroup]="form" cdkDropList (cdkDropListDropped)="reorderItems($event)">
    <div formArrayName="list" *ngFor="let item of collectionFormArray.controls; let i = index">
        <div class="item-wrapper"
             cdkDragBoundary=".collection-wrapper"
             cdkDragLockAxis="y"
             cdkDrag>
            <div class="label-wrapper"
                 [ngClass]="{ expanded: openedItem === item }"
                 (mouseenter)="hoverItem = item"
                 (mouseleave)="hoverItem = null"
                 (click)="toggle(item)">
                <app-chevron class="toggler" [hoverable]="false" [opened]="item === openedItem"></app-chevron>
                <!-- <app-icon class="chevron">chevron_right</app-icon> -->
                <label [attr.title]="descriptor?.hint" class="pb-label">{{ getTitle(item.value, i) }}</label>
                <app-context-menu [actions]="itemActions"
                                  [visible]="hoverItem === item"
                                  (onAction)="onActionClick($event, item, i)"></app-context-menu>
                <app-drag-handle cdkDragHandle></app-drag-handle>
            </div>
            <div class="editor-wrapper" *ngIf="item === openedItem">
                <app-controls-list [currentForm]="$any(item)"
                                   [descriptors]="getDescriptors()"
                                   [context]="getContext($any(item), i)"></app-controls-list>
            </div>
        </div>
    </div>
    <app-icon-button class="add-button"
                     icon="add"
                     skin="blue"
                     *ngIf="canAddItem()"
                     [text]="descriptor?.addText || 'Add item'"
                     (click)="addItem()"></app-icon-button>
</div>
