<div [formGroup]="currentForm">
    <app-controls-list *ngIf="tab.ungrouped && tab.ungrouped.length" [currentForm]="currentForm"
                       [descriptors]="tab.ungrouped"
                       [context]="context">
    </app-controls-list>
    <app-controls-group *ngFor="let group of tab.groups"
                        [label]="group.name"
                        [opened]="state[group.name].opened"
                        (openedChanged)="state[group.name].opened = $event">
        <app-controls-list [currentForm]="currentForm"
                           [descriptors]="group.descriptors"
                           [context]="context">
        </app-controls-list>
    </app-controls-group>
</div>
