:host ::ng-deep {
    color: #202223;
    font-weight: 400;
    font-size: 15px;
    label {
        color: #646464;
        font-weight: inherit;
        font-size: inherit;
        @apply py-2;
    }

    input[type=text], textarea {
        border: 1px solid #BABFC3;
        font-weight: inherit;
        font-size: inherit;
        @apply rounded;
    }
}
