<div class="preview-wrapper" [ngClass]="{ 'preset-preview-mode': (isPresetPreviewMode$|async) }">
    <div class="relative">
        <div *ngIf="isPresetPreviewMode$|async" [attr.title]="previewPresetName$|async" class="preview-name">Preset
            preview: {{ previewPresetName$|async }}</div>
    </div>
    <div class="iframe-holder" [class]="previewMode$|async">
        <ng-container *ngIf="previewUrl$|async as previewUrl">
            <iframe id="preview-frame-component" [src]="previewUrl"></iframe>
        </ng-container>
    </div>
</div>
