<div class="preview-wrapper" [ngClass]="{ 'preset-preview-mode': (isPresetPreviewMode$|async) }">
    <div class="relative">
        <div *ngIf="isPresetPreviewMode$|async" [attr.title]="previewPresetName$|async" class="preview-name">Preset
            preview: {{ previewPresetName$|async }}</div>
    </div>
    <div class="iframe-holder" [class]="previewMode$|async">
        <!-- todo: move to config flow -->
        <iframe #frame id="preview-frame-component" src="http://localhost:2082/designer-preview?ep=https://localhost:5001"></iframe>
        <!-- <ng-container *ngIf="previewUrl$|async as previewUrl">
            <iframe #frame id="preview-frame-component" [src]="previewUrl"></iframe>
        </ng-container> -->
    </div>
</div>
