:host {
    display: block;
}

.menu-button {
    border-radius: 4px;
    color: #484848;
    @apply flex flex-row p-2 items-stretch w-full;
    &:hover {
        background: rgba(18, 18, 18, 0.04);
    }
}

.text {
    line-height: 1.5rem;
    @apply px-2 text-left grow align-middle;
}
