<div class="flex flex-col">
    <div class="title list-item">
        <div class="grow">
            Theme settings
        </div>
        <div>
            <app-icon-button (click)="onPresetsClick()" icon="tune" text="Presets" skin="link"></app-icon-button>
        </div>
    </div>
    <ng-container *ngIf="uiState$|async as uiState">
        <ng-container *ngIf="schema$|async as schema">
            <div *ngFor="let group of schema" class="item">
                <div (click)="toggleGroup(group)" class="list-item item-title">
                    <div class="grow">
                        {{group.name}}
                    </div>
                    <div>
                        <app-chevron [opened]="uiState[group.name].opened"></app-chevron>
                    </div>
                </div>
                <ng-container *ngIf="uiState[group.name].opened">
                    <ng-container *ngIf="settings$|async as settings">
                        <app-dynamic-form [sectionModel]="$any(settings)"
                                          [descriptors]="group.settings"
                                          [context]="context"></app-dynamic-form>
                    </ng-container>
                </ng-container>
            </div>
        </ng-container>
    </ng-container>
</div>
<ng-container *ngIf="editableGroup$|async as editableGroup">
    <ng-container *ngIf="settings$|async as settings">
        <app-settings-panel [context]="context"
                            [group]="editableGroup"
                            [settings]="settings"
                            (backClick)="onBackClick(editableGroup)"></app-settings-panel>
    </ng-container>
</ng-container>
