<div class="flex flex-col">
    <div class="title list-item">
        <div class="grow">
            Theme settings
        </div>
        <div>
            <app-icon-button icon="tune" text="Presets" skin="link"></app-icon-button>
        </div>
    </div>
    <div *ngFor="let group of schema; let index = index" class="item">
        <div (click)="toggleGroup(group)" class="list-item item-title">
            <div class="grow">
                {{group.name}}
            </div>
            <div>
                <app-chevron [opened]="uiState[group.name].opened && uiState[group.name].inline"></app-chevron>
            </div>
        </div>
        <ng-container *ngIf="uiState[group.name].opened && uiState[group.name].inline">
            <app-dynamic-form [sectionModel]="currentSettings"
                              [descriptors]="group.settings"
                              [context]="context"></app-dynamic-form>
        </ng-container>
    </div>
</div>
<!-- <app-overlap-panel *ngIf="uiState[group.name].opened && !uiState[group.name].inline">
    Overlay properties list
</app-overlap-panel> -->
