<div class="section-item" (click)="sectionClick($event)" [ngClass]="{ 'opened': opened }">
    <img *ngIf="icon" [src]="'assets/icons/sections/' + icon + '.svg'" />
    <span class="name">{{title}}</span>
    <app-visibility-button *ngIf="showVisibility" [visible]="visible" (visibleChanged)="onVisibleChanged($event)"></app-visibility-button>
    <img *ngIf="closable" class="chevron" src="assets/icons/chevron.svg" (click)="toggle($event)" />
    <img *ngIf="showPlus" src="assets/icons/round-plus.svg" (click)="onPlusClick($event)" />
    <img *ngIf="showDrag" class="ml-1 drag-handler" src="assets/icons/buttons/drag.svg" />
</div>
<ng-container *ngIf="closable && opened">
    <div class="blocks-container">
        <ng-content></ng-content>
    </div>
</ng-container>
