<app-overlap-panel [expandable]="false">
    <app-panel>
        <div>
            <ul class="flex flex-col">
                <li class="search-holder">
                    <input placeholder="Enter block name"
                           class="search"
                           type="search"
                           [value]="filter$|async"
                           (keyup)="applySectionsFilter($event)"
                           (search)="applySectionsFilter($event)" />
                </li>
                <ng-container *ngIf="ctx$|async as ctx">
                    <li *ngFor="let group of ctx.groups" class="border-b">
                        <app-add-section-group [group]="group"
                                               [opened]="ctx.states.groups[group.name].opened"
                                               [underPreviewType]="ctx.states.previewItemType"
                                               (onOpened)="onToggleGroup(group)"
                                               (onPreview)="onPreviewItem($event)"
                                               (onAdd)="onAddItem($event)">
                        </app-add-section-group>
                    </li>
                    <li *ngFor="let item of ctx.items" class="border-b">
                        <app-add-section-item [section]="item"
                                              [inPreview]="item.type === ctx.states.previewItemType"
                                              (onPreview)="onPreviewItem(item)"
                                              (onAdd)="onAddItem(item)"></app-add-section-item>
                    </li>
                </ng-container>
            </ul>
        </div>
        <ng-container title-content>
            <div class="title">
                <app-icon (click)="onCancelClick()" title="Cancel">chevron_left</app-icon>
                <div>{{ title$|async }}</div>
            </div>
        </ng-container>
    </app-panel>
</app-overlap-panel>
